#pragma once

// ============================================================
// Sensitive configuration
//
// This file must NOT be committed to Git.
//
// Add it to .gitignore:
//     include/secrets.h
// ============================================================

namespace Secrets
{
    namespace MQTT
    {
        constexpr const char* USERNAME =
            "xxxxx";

        constexpr const char* PASSWORD =
            "yyyyyy";
    }

}